---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        Smokie
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="scale-125 stroke-accent stroke-3"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <p>
        Welcome to my little corner of the web! Here, I share my thoughts,
        experiments, and whatever projects I’m tinkering with. I’m still finding
        my way in the world of web development — learning as I go, breaking
        things, fixing them (most of the time), and trying to create stuff
        that’s either fun or useful. There’s no big master plan here. Some days
        I’m diving into something super specific, and other days I’m just
        venting about why something isn’t working the way I expected. If you’re
        into the messy, work-in-progress side of things — or just curious about
        what figuring things out in public looks like — you’re in the right
        place.
      </p>
    </section>

    <section id="featured" class="pt-12 pb-6">
      <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
      <ul>
        {featuredPosts.map(data => <Card variant="h3" {...data} />)}
      </ul>
    </section>

    <section id="recent-posts" class="pt-12 pb-6">
      <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
      <ul>
        {
          recentPosts.map(
            (data, index) =>
              index < SITE.postPerIndex && <Card variant="h3" {...data} />
          )
        }
      </ul>
    </section>

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block" />
      </LinkButton>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
