---
import IconSearch from "@/assets/icons/IconSearch.svg";
import LinkButton from "@/components/LinkButton.astro";
import { SITE } from "@/config";
import Image from "@/components/base/Image.astro";

const { pathname } = Astro.url;

// Remove trailing slash from current pathname if exists
const currentPath =
  pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

const isActive = (path: string) => {
  const currentPathArray = currentPath.split("/").filter(p => p.trim());
  const pathArray = path.split("/").filter(p => p.trim());

  return currentPath === path || currentPathArray[0] === pathArray[0];
};
---

<header>
  <a
    id="skip-to-content"
    href="#main-content"
    class="absolute -top-full left-16 z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
  >
    Skip to content
  </a>
  <div
    id="nav-container"
    class="mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row"
  >
    <div
      id="top-nav-wrap"
      class="relative flex w-full items-center justify-between bg-background p-2 md:pl-0"
    >
      <a
        href="/"
        class="absolute py-1 text-2xl leading-7 font-semibold whitespace-nowrap"
      >
        <Image local src="/favicon.png" alt="ok" width={45} height={45} />
      </a>
      <nav id="nav-menu" class="flex w-full flex-col items-center sm:ml-2">
        <ul
          id="menu-items"
          class:list={[
            "flex w-full justify-end gap-4",
            "[&>li>a]:block [&>li>a]:px-2 [&>li>a]:py-3 [&>li>a]:text-center [&>li>a]:font-medium [&>li>a]:hover:text-accent",
            ,
          ]}
        >
          <li>
            <a href="/posts" class:list={{ "active-nav": isActive("/posts") }}>
              Posts
            </a>
          </li>
          <li>
            <a href="/tags" class:list={{ "active-nav": isActive("/tags") }}>
              Tags
            </a>
          </li>
          <li>
            <a
              href="/archives"
              class:list={{ "active-nav": isActive("/archives") }}
            >
              Archive
            </a>
          </li>
          <li>
            <LinkButton
              href="/search"
              class:list={[
                "focus-outline flex p-3 sm:p-1",
                { "[&>svg]:stroke-accent": isActive("/search") },
              ]}
              ariaLabel="search"
              title="Search"
            >
              <IconSearch />
              <span class="sr-only">Search</span>
            </LinkButton>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style lang="postcss">
  .active-nav {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
</style>
